.cinema 
  position: relative
  width: 1400px 
  height: 1200px
  background-color: #303561

.header
  position: absolute
  display: flex
  align-items: center
  left: 0
  width: 100%
  padding: 30px
  z-index: 1
  &__logo 
    width: 40px
    height: 40px
  &__set-movie
    position: absolute
    left: 50%
    transform: translateX(-50%)
  &__set-select 
    padding: 10px 20px
    border-color: #4a4e75
    background-color: rgba(#414886, 0.6)
    color: #fff
    font-size: 25px
    outline: none

.movie-info 
  position: relative
  padding: 120px 180px
  height: 450px
  margin-bottom: 40px
  background-repeat: no-repeat
  background-size: cover 
  background-position: top
  box-shadow: inset 0 -20px 30px 5px #303561
  &:before
    position: absolute
    content: ''
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(#303561, 0.7)
  &__text 
    position: relative
    z-index: 1
  &__name 
    font-size: 45px 
  &__release 
    font-size: 30px
    margin-bottom: 30px
  &__descr 
    font-size: 20px
    color:#AEB1CCFF 
    margin-bottom: 30px 
  &__bottom
    display: flex
    align-items: center
    span 
      font-size: 25px
  &__rating 
    margin-right: 30px
  &__common 
    font-size: 20px
    color:#AEB1CCFF 

.line 
  width: 1100px 
  height: 1px
  margin: 20px auto
  background-color: #4a4e75

.dates 
  margin: 0 150px
  &__title 
    margin-bottom: 15px
  &__days 
    display: flex
    align-items: center
    justify-content: space-between
  &__date 
    width: 75px
    padding: 5px 0
    text-align: center
    color: #6F75AA
    cursor: pointer
    transition: 0.3s
    &:hover 
      background-color: #363F73
  &__number 
    font-size: 30px
    font-weight: 600
  &__month, &__day 
    font-size: 14px
  
.cinema
  &-settings 
    margin: 0 150px
    display: flex
    align-items: center
  &-name 
    margin-right: 50px
  &-name__title, &-time__title 
    margin-bottom: 15px
  &-name__select, &-time__select 
    padding: 10px 10px
    background-color: #303561
    color: #fff
    border-color: #606699FF
    font-size: 20px
    outline: none
       
.seat 
  position: relative
  width: 22px 
  height: 12px 
  border-radius: 3px
  background-color: #6A71AC
  cursor: pointer
  transition: 0.3s
  &:hover 
    transform: scale(1.3)
    .seat-tooltip 
      transform: scale(1) translateX(-50%)
      animation: tooltipShow
      animation-duration: 0.5s
  &:after 
    position: absolute
    content: ''
    width: 15px
    height: 5px 
    bottom: -5px
    left: 50%
    border-radius: 30%
    transform: translateX(-50%)
    background-color: inherit
  &-tooltip
    position: absolute
    display: flex
    align-items: center
    justify-content: space-between
    padding: 2px 8px
    background-color: #AAADC9FF
    bottom: 15px
    left: 50%
    transform: translateX(-50%)
    &__block 
      padding: 3px 6px
      font-size: 18px
      text-align: center
    &__row-name, &__seat-num
      font-size: 25px
      font-weight: 600
  &-sold
    background-color: #FDB46C
    pointer-events: none
  &-booked
    background-color: #2BA1FD
  &-selected
    background-color: #F4667EFF
  &__descr 
    margin-left: 20px
    font-size: 18px

.seats-examples 
  display: flex
  align-items: center
  margin-left: auto

.seat-example 
  display: flex
  align-items: center
  padding: 10px 30px
  .seat 
    cursor: auto
    &:hover 
      transform: scale(1)
      
.cinema
  &-hall
    display: flex
    justify-content: space-between
    margin: 0 150px
  &-seats 
    display: flex
    flex-direction: column
    align-items: center
  &-row__single 
    display: flex
    align-items: center
    margin-bottom: 37px
    .seat 
      margin-right: 20px
  &-screen 
    width: 1000px 
    height: 1px 
    margin: 0 auto 50px
    background-color: #AEB1CCFF
    box-shadow: 0 5px 15px 5px #7dc8fa

.row 
  &__name 
    margin-bottom: 29px
    font-size: 20px
    line-height: 1
    font-weight: 600

.right-modal 
  position: absolute
  width: 350px 
  height: 100%
  right: 0
  top: 0
  padding: 50px 30px
  background: linear-gradient(to bottom, rgba(66, 70, 104, 0.8) 0%, rgba(54, 63, 115, 0.9) 100%)
  z-index: 5
  &__poster 
    width: 100%
    box-shadow: 0 0 20px #202647
    margin-bottom: 60px
    &-img 
      display: block
  &__info 
    margin-bottom: 20px
    border-bottom: 1px solid #7076AA
  &__title 
    font-size: 26px
    margin-bottom: 30px
  &__select 
    &-info 
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 25px
    &-name
      font-size: 17px
      font-weight: 600 
      color: #AFB2CD
    &-text 
      font-size: 20px
      font-weight: 600
      color: #ffffff
    &-total 
      font-size: 25px
      font-weight: 600
      color: #ebae80
  &__total 
    text-align: center
  &__buy-button 
    width: 200px
    height: 50px
    background-color: #F6657D
    border: none
    outline: none
    font-size: 25px
    font-weight: 600
    color: #fff
    box-shadow: 0 0 8px #F6657D


@keyframes tooltipShow
  0%
    opacity: 0
  100%
    opacity: 1